<div class="w-full flex flex-row gap-4">
  <div class="flex-1"> <!-- Catalog -->
    <% @makes.each do |make| %> <!-- Make -->
      <%= render layout: "accordion_item", locals: { item: make, item_name: make.name } do %>
        <%= turbo_frame_tag make, src: show_years_catalog_index_path(params: { make: make.name }), loading: "lazy" %>
      <% end %>
    <% end %>
  </div>
  <div class="w-1/2"> <!-- Cart -->
    <%= turbo_frame_tag "cart", src: cart_index_path %>
  </div>
</div>
