<%= turbo_frame_tag @make do %>
  <div class="flex flex-row">
    <div class="w-6 flex justify-center"> <!-- Line -->
      <div class="w-[2px] h-full bg-black"></div>
    </div>

    <div class="ml-2 mt-1">
      <div id="accordion-years" data-accordion="open" data-active-classes="bg-white text-gray-900" data-inactive-classes="text-gray-900">
        <% @years.each do |year| %>
          <%= render layout: "accordion_item", locals: { item: year, item_name: year.year } do %>
            <%= turbo_frame_tag year, src: show_models_catalog_index_path(params: { make: @make.name, year: year.year }), loading: "lazy" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
